<!DOCTYPE html>
<html lang="en">
<head th:replace="template.html :: header('employers')">
    <title>Trang chủ Job Hunt</title>

    <style>
        body {
            background-image: url("/images/back-ground/back_ground.jpg");
        }
    </style>
</head>
<body>
<header th:insert="template.html :: topmenu"></header>
<div class="heading index-heading text-center">
    JobHunt - Trang Web tuyển dung IT số một Việt Nam
</div>
<div class="index-header">
    <div class="container">

    </div>
</div>

<header th:replace="template.html :: footer"></header>
</body>
</html>


