<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="template.html :: header('employers')">
    <title>Employer List</title>

</head>
<body>
<header th:insert="template.html :: topmenu"></header>
<div class="container">
    <div class="heading" style="margin-top: 20px;font-weight: bold;font-size: 35px">
        <p>
            Add new Employer
        </p>
    </div>
    <p>
        <a th:href="@{/employer/list}">
            Back To Employer List
        </a>
    </p>
    <div id="form">
        <form action="" th:object="${employer}" method="POST" novalidate="novalidate" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group" >
                <label for="name"> Name</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       name="name"
                       placeholder="Enter Employer's name"
                       th:field="*{name}"
                       required>
            </div>
            <div class="form-group" >
                <label for="email"> Email</label>
                <input type="text"
                       class="form-control"
                       id="email"
                       name="email"
                       placeholder="Enter Employer's email address"
                       th:field="*{email}"
                       required>
            </div>
            <div class="form-group" >
                <label for="image"> ImagePAth</label>
                <input type="text"
                       class="form-control"
                       id="image"
                       name="image"
                       placeholder="Enter LogoPath"
                       th:field="*{logo_path}"
                       required>
            </div>
            <div class="form-group" >
                <label for="website"> Website</label>
                <input type="text"
                       class="form-control"
                       id="website"
                       name="website"
                       placeholder="Enter Employer's Website"
                       th:field="*{website}"
                       required>
            </div>
            <button style="margin-top: 20px;margin-bottom: 20px;color: #fff" type="submit" class="btn btn-lg btn-info">
                ADD
            </button>
        </form>
    </div>

</div>

<header th:replace="template.html :: footer"></header>
</body>
</html>

